{{>header}}
<!-- ChartJS -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">D1 Karting</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Etusivu<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/kuljettajat">Kuljettajat</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/osakilpailut">Osakilpailut</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/tulokset">Tulokset</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container" style="text-align:center; margin-top:100px">
  <h1>Äänestä seuraava kilpailu</h1>
  <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSc86zlppcDcg8rO4SJeE0XImATyFPqQTJxF3v_-gzxMj1-zuw/viewform?embedded=true" width="640" height="683" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
</div>


{{>footer}}
